@model IEnumerable<OnlineMobiles.Models.Product>

@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Product</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductColour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductFeature)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductCost)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductColour)
        </td>
        <td>
            <img src="@Url.Content(item.ProductImage)" height="100" width="100" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductFeature)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductCost)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit","Admin", new { id=item.ProductId }) |
            @Html.ActionLink("Delete", "Delete","Admin", new { id=item.ProductId })
        </td>
    </tr>
}

</table>
